.body {
  font-family: "Inter", serif;
  color: #2d2d2d;
  background-color: #2d6a4f;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  background-color: transparent;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  color: black;
}
.logo {
  font-size: 20px;
  font-weight: bolder;
}
.thelinks {
  display: flex;
  list-style: none;
  gap: 35px;
}
.thelinks a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.thelinks .active {
  border-bottom: 2px solid #2d6a4f;
}
.about-me {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 80px;
  gap: 50px;
}
.about-image img {
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
.me-now {
  max-width: 600px;
}
.me-now h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 8px;
  color: #2d6a4f;
}
.me-now p {
    display: inline;
    justify-content: center;
    align-items: center;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  

}
